.container-aboutDoc {
  width: 100%;
  max-width: 1010px;
  margin: auto;
  position: relative;
}
section#about {
  margin-bottom: 70px;
}
.section-top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  margin-top: 100px;
}
.section {
  display: flex;
}

.section-main {
  display: flex;
}
.about {
  font-family: Manrope;

  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: $gray;
  width: 67%;
}

.socials {
  margin-top: 35px;
}
.socials-item {
  display: flex;
  align-items: center;
  fill: black;
}
a svg {
  margin-right: 24px;
}
.socials-item a:hover {
  svg {
    fill: black;
    path {
      fill: black;
    }
  }
}
.spec {
  display: flex;
  flex-wrap: wrap;
}

.spec-item button {
  border: 1px solid $gray-light;
  border-radius: 8px;
  padding: 19px 30px;
  margin-right: 18px;
  margin-bottom: 16px;

  text-transform: uppercase;
  cursor: pointer;
  color: $gray;
  background: none;
  &:hover {
    color: $blue;
    border-color: $blue;
  }
}
.education {
  display: flex;
  flex-direction: column;
}
.education-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}
.year {
  max-width: 85px;
  width: 100%;
  height: 56px;
  margin-right: 33px;
  border: 1px solid $gray;
  border-radius: 8px;
  text-align: center;
  padding-top: 18px;
}
.universal {
  @extend body;
  color: $gray;
}
.nav-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 33%;
  &:after {
    content: "";
    height: 100%;
    width: 2px;
    position: absolute;
    background-color: #dce1e6;
    top: 0;
    left: 134px;
    z-index: 1;
  }
}
.nav-page-link {
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  line-height: 22px;
  color: $gray;
  margin-bottom: 24px;
  margin-left: 166px;

  &:last-child {
    margin-bottom: 0;
  }
  &:hover,
  &.active {
    color: $dark;
    cursor: pointer;
    &:after {
      width: 30px;
    }
  }
  &:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: $blue;
    position: absolute;
    top: 14px;
    left: -46px;
    z-index: 10;
    transform: rotate(90deg);
  }
}
.nav-link-page .active {
  width: 100%;
  border: 2px;
  background-color: $blue;
  position: absolute;
  top: 14px;
  left: -46px;
  z-index: 10;
}

.section-top-m {
  display: none;
}
.nav-page.mobile {
  display: none;
}

@media screen and (max-width: $tablet) {
  .container-aboutDoc {
    padding: 0 16px;
  }
  .nav-page {
    display: none;
  }
  .nav-page.mobile {
    display: block;
  }
  .section-top {
    margin-bottom: 21px;
    margin-top: 54px;
  }
  .section,
  .section-main {
    display: flex;
    flex-direction: column-reverse;
  }
  .nav-page {
    width: 100%;
  }
  .nav-page:after {
    left: 5px;
  }
  .nav-page-link {
    margin-left: 32px;
    position: relative;
  }
  .subscribeToDoctors-content .subscribeToDoctors-text {
    font-size: 16px;
  }
  .spec-item button {
    margin-bottom: 8px;
    margin-right: 10px;
    padding: 16px 15px;
  }
  .about {
    width: 100%;
    font-size: 16px;
  }
  .year {
    min-width: 85px;
  }
  .mr-3,
  a svg {
    margin-right: 16px;
  }
  .mobile > .nav-page-link {
    font-size: 12px;

    margin-bottom: 24px;
    margin-left: 38px;
  }
  .nav-page-link.active:after,
  .nav-page-link:hover:after {
    width: 30px;
  }
  .nav-link-page .active,
  .nav-page-link:after {
    background-color: #4285f4;
    position: absolute;
    top: 14px;
    left: -47px;
    z-index: 10;
  }
}

@media screen and (max-width: $mobile) {
  .header-right {
    display: none;
  }
  .container-aboutDoc {
    padding: 0 16px;
  }
}
