.absolute-container-1 {
  padding-bottom: 100%;
  position: relative;
  height: 0;
  .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
.absolute-container-16_10 {
  padding-bottom: 62.5%;
  position: relative;
  height: 0;
  .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
.absolute-container-2_13 {
  padding-bottom: 46.875%;
  position: relative;
  height: 0;
  .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
