.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.card-item {
  margin-bottom: 15px;
  width: calc(25% - 30px);
  margin: 0 15px;

  img {
    transition: all 0.5s ease;
  }
  img:hover {
    transform: scale(1.05);
  }
}

.doc-about {
  margin-top: 15px;
}
.doc-name {
  margin-bottom: 5px;
}
.doc-prof {
  color: $gray;
}
@media screen and (max-width: $tablet) {
  .section-top-m {
    display: block;
  }
  .card-item {
    margin-bottom: 15px;
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: $mobile) {
  .card-item {
    margin-bottom: 15px;
    width: calc(50% - 30px);
  }
}
