section {
  margin-bottom: 110px;
}
.section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  margin-top: 100px;
}
.section-main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -18px;
}
.card {
  width: 47%;
  border: 1px solid $gray-light;
  border-radius: 16px;
  margin: 0 18px 40px;
}
.card-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 33px;
}
.card-text {
  max-width: 325px;
}
.card-title {
  padding-bottom: 8px;
}
.card-subtitle {
  padding-bottom: 35px;
  @extend body;
  color: $gray;
}
.card-price {
  color: $blue;
}
.card-img {
  width: 50%;
  width: 190px;
  height: 289px;
  position: relative;
  img {
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: contain;
  }
}
.doc-card {
  display: flex;
  flex-direction: column;
}
.section-top-m {
  display: none;
}
@media screen and (max-width: $tablet) {
  section {
    margin-bottom: 56px;
  }
  .section-top .btn-all {
    display: none;
  }
  .section-main {
    display: flex;
    flex-wrap: wrap;
  }
  .section-main {
    margin: 0 0;
  }
  .section-top {
    margin-bottom: 24px;
    margin-top: 50px;
  }
  .card {
    width: 100%;
    border-radius: 8px;
    margin: 0 0 20px;
  }
  .card-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-text {
    width: 100%;
  }
  .card-title {
    padding-bottom: 8px;
  }
  .card-subtitle {
    padding-bottom: 8px;
  }
  .card-price {
    color: $blue;
  }
  .card-img {
    width: 100%;
    position: relative;

    height: 208px;
    img {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      object-fit: contain;
    }
  }
  .section-top-m {
    display: flex;
  }
}
@media screen and (max-width: $mobile) {
  .section-top .btn-all {
    display: none;
  }

  .section-main {
    flex-direction: column;
    margin: 0;
  }
  .card {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .card-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 15px;
    position: relative;
  }
  .card-text {
    padding-top: 20px;

    min-width: 172px;
  }
  .card-title {
    padding-bottom: 8px;
  }
  .card-subtitle {
    padding-bottom: 8px;
    color: $gray;
  }
  .card-price {
    color: $blue;
  }
  .card-img {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 20px;

    position: relative;
    flex-shrink: 0;
    img {
      position: absolute;
      bottom: 0;
      right: 20px;
      object-fit: contain;
      z-index: -1;
    }
  }
}
