.slider {
  width: 100%;
  max-width: 1200px;
  background: linear-gradient(270.17deg, #dae3f1 0.11%, #f5f5f5 99.15%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  position: relative;
  margin: 0 auto;
}

.content-slider {
  display: flex;
  height: 100%;
  padding-left: 40px;
}
.left {
  width: 57%;
}
.caption-slider {
  padding-top: 36px;
  padding-bottom: 13px;
}
.h1-slider {
  padding-bottom: 16px;
}
.subtitle {
  opacity: 0.5;
  font-size: 16px;
}
.right {
  width: 43%;
  img {
    width: 433px;
    height: 354px;
    object-fit: contain;
  }
}
.arrows {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}

.prev,
.next {
  height: 56px;
  width: 63px;
  padding: 0;

  outline: none;
  border-radius: 4px;
  border: 0;
  &:hover {
    cursor: pointer;
  }
}
.prev {
  margin-right: 16px;
}
.next:hover path,
.prev:hover path {
  fill: $dark;
  cursor: pointer;
}
