.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider-docs {
  position: relative;
  padding: 0px 0px;
  width: 100%;
  max-width: 715px;
}
.slider-docs .slick-track {
  position: relative;
  left: -15px;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slider-docs .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -12px 0px 0px 0px;

  z-index: 10;
  font-size: 0;
  width: 24px;
  height: 24px;
  border: none;
}
.slider-docs .slick-arrow.slick-prev {
  left: -30px;
  background: url("/assets/img/icons/chevron-left.svg") 0 0 / 100% no-repeat;
}
.slider-docs .slick-arrow.slick-next {
  right: -30px;
  background: url("/assets/img/icons/chevron-right.svg") 0 0 / 100% no-repeat;
}
.slider-docs .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider-docs-item {
  padding: 0px 15px;
}
.slider-docs-item img {
  max-width: 100%;
}

@media screen and (max-width: $tablet) {
}
@media screen and (max-width: $mobile) {
  .slider-docs-item {
    height: 110px;
  }
}
