.slider-two {
  width: 100%;
  max-width: 685px;

  position: relative;

  left: 50%;
  transform: translateX(-74%);
  overflow: hidden;
}
.slick-list-two {
  overflow: visible;
  transform: translateX(-228px) !important;
}
.slick-slide-two {
  width: 190px;
}

.content-slider-two {
  height: 100%;
  height: 174px;
}

.arrows-two {
  position: absolute;
  bottom: 10%;
  right: 0;
  z-index: 3;
}

.prev-two,
.next-two {
  height: 56px;
  width: 63px;
  padding: 0;

  outline: none;
  border-radius: 4px;
  border: 0;
  &:hover {
    cursor: pointer;
  }
}
.prev {
  margin-right: 16px;
}
.next:hover path,
.prev:hover path {
  fill: $dark;
  cursor: pointer;
}

@media screen and (max-width: $tablet) {
}
@media screen and (max-width: $mobile) {
  .slide-item {
    width: 600px;
  }
  .slider {
    position: relative;
  }
  .slide {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }
  .right {
    width: 100%;

    img {
      width: 287px;
      height: 235px;
      object-fit: contain;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
  }
  .content-slider {
    flex-wrap: wrap;
    height: 420px;
    padding-left: 14px;
    padding-right: 14px;
  }
  .arrows {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 3;
  }
  .caption-slider {
    padding-top: 20px;
    padding-bottom: 6px;
  }
  .prev,
  .next {
    height: 48px;
    width: 54px;
  }
  .prev {
    margin-right: 8px;
  }
  .slider {
    border-radius: 8px;
  }
  .subtitle {
    font-size: 12px;
    font-weight: 500;
    line-height: 16.39px;
  }
  .h1-slider {
    padding-bottom: 8px;
    width: 100%;
  }
}
