.subscribe {
  background: linear-gradient(270.17deg, #d0daea 0.11%, #f5f5f5 99.15%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.subscribe-content {
  display: flex;
  justify-content: space-between;
  padding-left: 104px;
  padding-top: 93px;
  position: relative;
  height: 512px;
  .subscribe-left {
    width: 100%;
    max-width: 480px;
  }
  .subscribe-title {
    margin-bottom: 16px;
  }
  .subscribe-text {
    font-size: 20px;
    line-height: 136%;
    margin-bottom: 40px;
  }
}

.subscribe-right {
  img {
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    object-fit: contain;
  }
}
label {
  display: flex;
  height: 56px;
  width: 273px;
  background: #ffffff;
  border-radius: 4px;
  margin-bottom: 18px;
  position: relative;
}
.input-all {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 19px 15px 19px;
}
input {
  border: none;
  background: none;
  font-family: Manrope;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: $gray-light;
  outline: none;
  color: $dark;
}
.tel-suf {
  font-family: Manrope;
  font-weight: 400;
  font-size: 22px;
  width: 32px;
  height: 31px;
  line-height: 136%;
  margin-right: 2px;
}
.checkbox {
  display: flex;
  position: relative;
  width: 24px;
  height: 24px;
  img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    left: -1px;
    top: -1px;
    object-fit: cover;
    z-index: 2;
    background: $white;
  }
}

.caption-sub {
  position: absolute;
  left: 56px;
  top: 0;
  z-index: 2;
  width: 350px;
  font-weight: 500;
  font-size: 13px;
  line-height: 136%;
  color: $gray;
}

/* Создание пользовательского чекбокса*/
/* 1.Спрячем стандартный чекбокс с помощью opacity: 0:*/
.checkbox input[type="checkbox"] {
  opacity: 0;
}

/* 2 шаг. создаем поддельный чекбокс из псевдоэлементов*/
/*внешний блок*/
.checkbox label.label-check::before {
  content: url("/assets/img/icons/white_block.svg");
  display: inline-block;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
/*создание галки*/
.checkbox label.label-check::after {
  content: url("/assets/img/icons/check.svg");
  display: inline-block;
  height: 24px;
  width: 24px;
}

/*позиционирование внешнего блока и галки*/
.checkbox label.label-check {
  position: relative;
}
.checkbox label.label-check::before,
.checkbox label.label-check::after {
  position: absolute;
}
/*Внешний блок*/
.checkbox label.label-check::before {
  top: 0;
}
/*Галка*/
.checkbox label.label-check::after {
  left: 6px;
  top: 2px;
}
/* 3 шаг. показываем и прячем галку по состоянию чекбокса*/

/*Прячем галку по умолчанию*/
.checkbox input[type="checkbox"] + label.label-check::after {
  content: none;
}
/*Показываем галку по состоянию checked*/
.checkbox input[type="checkbox"]:checked + label.label-check::after {
  content: url("/assets/img/icons/check.svg");
}
/*Шаг 4: добавляем в стили псевдокласс focus, чтобы сделать чекбокс доступным*/
/*Добавляем фокус к внешнему блоку поддельного чекбокса*/
.checkbox input[type="checkbox"]:focus + label.label-check::before {
}

label.label-check {
  position: relative;
  background: none;
}
.label-check {
  margin-left: -13px;
}
.checkbox-text {
  position: absolute;
  left: 40px;
  top: 0;
  width: 348px;
  font-family: Manrope;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;

  color: #737881;
}
