.btn-main {
  color: $white;
  background: $blue;
  width: 208px;
  height: 56px;
  text-align: center;
  vertical-align: middle;
  padding: 18.5px 48px;
  border-radius: 4px;
  transition: all 0.5s linear;
}
