img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
  font-family: Manrope;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: $tablet) {
}

@media screen and (max-width: $mobile) {
}
