@font-face {
  font-family: Manrope;
  src: url(../assets/font/Manrope-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Manrope;
  src: url(../assets/font/Manrope-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}

body {
  font-size: 16px;
  font-weight: 500;
  line-height: 136%;
  color: $dark;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 136%;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 136%;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 136%;
}

h4 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 136%;
  letter-spacing: 0.16em;
}

.subtitle {
  font-size: 20px;
  line-height: 136%;
  font-weight: 400;
}

.caption {
  font-size: 13px;
  line-height: 136%;
  font-weight: 500;
  color: $gray;
}

a {
  display: flex;
  color: $dark;
  text-decoration: none;
}

@media screen and (max-width: $tablet) {
  body {
    font-size: 13px;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 13px;
  }
  .subtitle {
    font-size: 15px;
  }
  .caption {
    font-size: 11px;
  }
}

@media screen and (max-width: $mobile) {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
  }
  .subtitle {
    font-size: 16px;
  }
  .caption {
    font-size: 10px;
  }
}
