$dark: #000000;
$gray: #737881;
$gray-light: #dce1e6;
$blue: #4285f4;
$blue-dark: #3975da;
$white: #ffffff;

$mobile: "899px";
$tablet: "1199px";
$desktop: "1599px";
$big-desktop: "1919px";
